<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ModuleName</key>
		<string>Sexual Health &amp; Reproduction</string>
		<key>Subtopics</key>
		<array>
			<dict>
				<key>GameType</key>
				<string>Identify</string>
				<key>SubtopicName</key>
				<string>Anatomy &amp; Physiology</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>GameType</key>
				<string>Matching</string>
				<key>SubtopicName</key>
				<string>Sexual/Reproductive Systems</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>GameType</key>
				<string>Identify</string>
				<key>SubtopicName</key>
				<string>Sexually Transmitted Infections</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Contraception</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Pregnancy &amp; Childbirth</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Changes Throughout Lifespan</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Sexual Challenges</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ModuleName</key>
		<string>Power &amp; Sexualization</string>
		<key>Subtopics</key>
		<array>
			<dict>
				<key>SubtopicName</key>
				<string>Flirting &amp; Seduction</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Giving/Receiving Pleasure</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Withholding Sex</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Sexual Harassment</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Sexual Assault &amp; Rape</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Sexual Abuse &amp; Incest</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Media &amp; Advertising</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ModuleName</key>
		<string>Sexual Identity</string>
		<key>Subtopics</key>
		<array>
			<dict>
				<key>SubtopicName</key>
				<string>Biological Sex</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Gender Identity</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Gender Expression</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Gender Roles</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Sexual Orientation</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Sexual Practices &amp; Desires</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Sexual Values</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ModuleName</key>
		<string>Sensuality</string>
		<key>Subtopics</key>
		<array>
			<dict>
				<key>SubtopicName</key>
				<string>Touch/Smell/Taste/Visual/Aural</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Human Sexual Response Cycle</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Body Image</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Eroticism/Pleasure</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Fantasy</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Attraction</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Skin Hunger</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ModuleName</key>
		<string>Intimacy</string>
		<key>Subtopics</key>
		<array>
			<dict>
				<key>SubtopicName</key>
				<string>Caring/Sharing</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Liking/Loving</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Communication</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Risk Taking</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Vulnerability</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Self-disclosure</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SubtopicName</key>
				<string>Trust</string>
				<key>VideoURL</key>
				<string>https://www.youtube.com/watch?v=dQw4w9WgXcQ</string>
				<key>QuizItems</key>
				<array>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
					<dict>
						<key>word</key>
						<string>sperm</string>
						<key>pictureURL</key>
						<string>sperm.png</string>
						<key>description</key>
						<string>The male sex cell.</string>
						<key>shadowURL</key>
						<string>sperm.png</string>
					</dict>
					<dict>
						<key>word</key>
						<string>penis</string>
						<key>pictureURL</key>
						<string>penis.jpeg</string>
						<key>description</key>
						<string>The male reproductive organ.</string>
						<key>shadowURL</key>
						<string>penis.jpeg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
